<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-warning" routerLink="/nuevopro" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>

    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyectos of pro">
                    <td>
                        <h2>{{Proyectos.nombreP}}</h2>
                    </td>
                    <td>{{Proyectos.descripcionP}}</td>
                    <td><img src={{Proyectos.imgP}} class="img-proyectos" width="500px" height="300px"></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" routerLink="/editpro/{{Proyectos.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" (click)="delete(Proyectos.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>