<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/MI NECESITAR TRABAJO YA.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Bruno Octavio Cikos</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nisi nobis earum provident, alias ullam iure asperiores velit doloribus id, ducimus ea vero voluptatem. Optio hic cupiditate doloribus nam explicabo?</p>
        </span>
    </div>
</div>