<div class="row g-0">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/Octapaas"><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href="https://github.com/octapaas"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.linkedin.com/in/octavio-cikos-b64370247/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">
                    Ingresar    
                </button>
                <button type="button" class="btn btn-outline-light" (click)="onLogout()"  *ngIf="isLogged">
                    Cerrar Sesión    
                </button>
            </div>
        </div>
    </div>
</div>
