<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" class="image" id="img">
        <input type="file" (change)="uploadImage($event)" *ngIf="isLogged">
        <img [src]="image" *ngFor="let image of images">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <h6>¡Bienvenidos/as! Mi nombre es Bruno Octavio Cikos, tengo 26 años y este es mi portfolio. Recién estoy entrando en el mundo de la programación con la esperanza de cada dia ahondar más mis conocimientos en el tema hasta poder crear proyectos cada vez más complejos</h6>
        </span>
    </div>
</div>