div{
    background-color: lightskyblue;
    text-align: center;
}
.row{
    padding: 20px;
    margin: auto;
}

/*una etiqueta para el nombre*/
#nombre{
    font-weight: bold;
    margin-top: 55%;
}

/*una etiqueta para poder editar el estilo de la foto de perfil*/
@media (min-width: 576px){
    img{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 2%;
        top: 780px;
        border-style: solid;
    }
}

@media (max-width: 575px){
    img{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 33%;
        top: 780px;
        border-style: solid;
    }
}

input{
    margin-right: 820px;
}