<div class="container" *ngIf="edu">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f = "ngForm">
                <div class="form-group">
                    <label for="nombreEd">Nombre de la institución</label>
                    <input type="text" class="form-control" id="nombreEd" name="nombreEd" [(ngModel)]="edu.nombreEd" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEd">Descripción del estudio</label>
                    <input type="text" class="form-control" id="descripcionEd" name="descripcionEd" [(ngModel)]="edu.descripcionEd" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
            <a href="http://localhost:4200/ "class="btn btn-primary">Cancelar</a>
        </div>
    </div>
</div>