<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic porro possimus alias nesciunt quo est repudiandae, corrupti architecto numquam modi ut error harum earum, quibusdam eum, officiis sit maxime?</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic porro possimus alias nesciunt quo est repudiandae, corrupti architecto numquam modi ut error harum earum, quibusdam eum, officiis sit maxime?</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic porro possimus alias nesciunt quo est repudiandae, corrupti architecto numquam modi ut error harum earum, quibusdam eum, officiis sit maxime?</p>
        </ul>
    </div>
</div>