<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [title]="'HTML'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'40'"
        [titleFontWeight]="'600'"
        [animation]="true"
        [animationDuration]="300"
      >   </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [title]="'CSS'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'40'"
        [titleFontWeight]="'600'"
        [animation]="true"
        [animationDuration]="300"
      >   </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [title]="'JavaScript'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'30'"
        [titleFontWeight]="'600'"
        [animation]="true"
        [animationDuration]="300"
      >   </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [title]="'GitHub'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'40'"
        [titleFontWeight]="'600'"
        [animation]="true"
        [animationDuration]="300"
      >   </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [title]="'Ingles'"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'40'"
        [titleFontWeight]="'600'"
        [animation]="true"
        [animationDuration]="300"
      >   </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [title]="'Trabajo'"
        [subtitle]="'en Equipo'"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitleFontSize]="'30'"
        [subtitleColor]="'#444444'"
        [subtitleFontWeight]="'600'"
        [titleFontSize]="'35'"
        [titleFontWeight]="'600'"
        [animation]="true"
        [animationDuration]="300"
      >   </circle-progress>
    </div>
</div>