<div class="row">
  <h1>Habilidades</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-outline-dark" routerLink="/nuevahab" *ngIf="isLogged">
          Agregar Habilidad
      </button>
  </div>
</div>
  <div class="row" *ngFor="let Habilidades of habilidad">   
      <h2>{{Habilidades.nombreH}} - {{Habilidades.porcentajeH}}% <img src="{{Habilidades.imgH}}" width="50px"></h2>
      <div class="progress">
           <div class="progress-bar" style="width: {{Habilidades.porcentajeH}}%" role="progressbar"></div>
    </div> 
  <div>
  </div>
    <td *ngIf="isLogged">
      <button class="btn btn-outline-primary" routerLink="/edithab/{{Habilidades.id}}">
          <i class="bi bi-pencil-fill"></i>Editar </button>
  </td>
  <td *ngIf="isLogged">
      <button class="btn btn-outline-dark" (click)="delete(Habilidades.id)" id="borrar">
          <i class="bi bi-trash-fill"></i>Borrar </button>
  </td>  
</div>